html,
body {
  background-image: url("/img/school.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
}

@media screen and (max-width: 768px) {
  html,
  body {
    background-image: url("/img/sekolah.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
  }
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
